{{ form_start(eventForm) }}
<div class="form-row">
    <div class="form-group col-md-10 offset-md-1">
        <label for="event_date">Date</label>
        {{ form_widget(eventForm.date, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 offset-md-1">
        <label for="event_artist">Artiste</label>

        {{ form_widget(eventForm.artist, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-group col-md-4 offset-md-2">
        <label for="event_city">Lieu</label>
        {{ form_widget(eventForm.city, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-group col-md-12 offset-md-1">
        <button type="submit" class="btn btn-primary" id="submit">
            <span>Enregistrer</span>
        </button>
    </div>
</div>

{{ form_end(eventForm) }}