<div class="row tab-header">
    <div class="col-12 col-md-2 offset-md-1 tab-role-col">{{ 'list_event.tab.date' | trans | upper }}</div>
    <div class="col-6 col-md-3 offset-md-1 tab-role-col">{{ 'list_event.tab.artist' | trans | upper }}</div>
    <div class="col-6 col-md-3 offset-md-1 tab-role-col">{{ 'list_event.tab.city' | trans | upper }}</div>
</div>
{% for event in events %}
    <div class="row tab-row-striped">
        <div class="col-12 col-md-2 offset-md-1 tab-role-row">{{ event.date | localizeddate('short','none',app.request.locale) }}</div>
        <div class="col-6 col-md-3 offset-md-1">{{ event.artist.name }}</div>
        <div class="col-6 col-md-3 offset-md-1">{{ event.city.name }}</div>
    </div>
{% endfor %}


</div>