{{ form_start(eventForm) }}
<div class="form-row">
    <div class="form-group col-md-10 offset-md-1">
        <label id="eventDateLabel" for="event_date">{{ 'form.edit.event.date' | trans }}</label>
        {% if form_errors(eventForm.date) != null %}
            <spall id="eventDateError" class="form-text text-danger form-error">{{ form_errors(eventForm.date) }}</spall>
        {% endif %}
        {{ form_widget(eventForm.date, {

            'attr': {
                'class': 'form-control js-datepicker',

            }
        }) }}
        <small id="eventDateInfo" class="form-text text-muted">{{ 'form.edit.event.date.help' | trans }}</small>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4 offset-md-1">
        <label for="event_artist">{{ 'form.edit.event.artist' | trans }}</label>
        {% if form_errors(eventForm.artist) != null %}
            <small id="eventArtistError" class="form-text text-danger form-error">{{ form_errors(eventForm.artist) }}</small>
        {% endif %}
        {{ form_widget(eventForm.artist, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-group col-md-4 offset-md-2">
        <label for="event_city">{{ 'form.edit.event.city' | trans }}</label>
        {% if form_errors(eventForm.city) != null %}
            <spall id="eventCityError" class="form-text text-danger form-error">{{ form_errors(eventForm.city) }}</spall>
        {% endif %}
        {{ form_widget(eventForm.city, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="hidden">{{ form_widget(eventForm.id) }}</div>
    <div class="form-group col-md-12 offset-md-1">
        <button type="submit" class="btn btn-primary" id="submit">
            <span>{{ 'form.edit.event.submit' | trans }}</span>
        </button>
    </div>
</div>

{{ form_end(eventForm) }}