{{ form_start(filterForm) }}
<div class="form-row">
    <div class="form-group col-md-5 offset-md-1">
        <label id="filterDateFromLabel" for="event_date">{{ 'home.filter.dateFrom.label' | trans }}</label>
        {% if form_errors(filterForm.fromDate) != null %}
            <small id="filterDateFromError" class="form-text text-danger form-error">{{ form_errors(filterForm.fromDate) }}</small>
        {% endif %}
        {{ form_widget(filterForm.fromDate, {

            'attr': {
                'class': 'form-control js-datepicker',

            }
        }) }}
        <small id="filterDateFromInfo" class="form-text text-muted">{{ 'home.filter.date.help' | trans }}</small>
    </div>
    <div class="form-group col-md-5">
        <label id="filterDateToLabel" for="event_date">{{ 'home.filter.dateTo.label' | trans }}</label>
        {% if form_errors(filterForm.toDate) != null %}
            <small id="filterDateToError" class="form-text text-danger form-error">{{ form_errors(filterForm.toDate) }}</small>
        {% endif %}
        {{ form_widget(filterForm.toDate, {
            'attr': {
                'class': 'form-control js-datepicker',

            }
        }) }}
        <small id="filterDateToInfo" class="form-text text-muted">{{ 'home.filter.date.help' | trans }}</small>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-5 offset-md-1">
        <label id="filterArtistLabel" for="event_artist">{{ 'home.filter.artist' | trans }}</label>
        {% if form_errors(filterForm.artist) != null %}
            <small id="filterArtistError" class="form-text text-danger form-error">{{ form_errors(filterForm.artist) }}</small>
        {% endif %}
        {{ form_widget(filterForm.artist, {
            'attr': {
                'class': 'form-control',
                'data-id': 'artistName',
                'data-url': path('autocomplete_artist')
            }
        }) }}
    </div>
    <div class="form-group col-md-5">
        <label id="filterArtistLabel" for="event_city">{{ 'home.filter.city' | trans }}</label>
        {% if form_errors(filterForm.city) != null %}
            <spall id="filterCityError" class="form-text text-danger form-error">{{ form_errors(filterForm.city) }}</spall>
        {% endif %}
        {{ form_widget(filterForm.city, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    <div class="form-group col-md-12 offset-md-1">
        <button id="filterSubmitBtn" type="submit" class="btn btn-primary">
            <span>{{ 'home.filter.submit' | trans }}</span>
        </button>
    </div>
</div>

{{ form_end(filterForm) }}